* { box-sizing: border-box; }

body { font-family: sans-serif; }


/*Grid principal*/
.grid {
  background: white;
  width: 100%;
  height: 100vh;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* Grid particular*/

.grid-item {
  width: 20%;
  height: 150px;
  float: center;
  background: whitesmoke;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.grid-item--width2 { width: 35%; }
.grid-item--width3 { width: 60%; }
.grid-item--width4 { width: 25%; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 400px; }
.grid-item--height4 { height: 360px; }
